.banner {
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paginas {
	margin-left: 1%;
	width: 98%;	
}

.botao {
	margin-left: 30%;
}

.formulario {
	margin-top: 10%;
}

.espaco {
	margin-top: 6%;
}